/* Defining Colors */

:root {

    /* -- light mode -- */

    --color-background-light: #E5E5E5;
    --color-background-display-light: #D9D9D9;
    --color-display-digit-light: #FFFFFF;

    --color-background-normal-buttons-light: #D9D9D9;
    --color-background-special-buttons-light: #B3B3B3;
    --color-normal-buttons-light: #FFFFFF;
    --color-special-buttons-light: #FFFFFF;

    --color-background-normal-buttons-light-hover: #FFFFFF;
    --color-background-special-buttons-light-hover: #F2F2F2;
    --color-normal-buttons-light-hover: #D9D9D9;
    --color-special-buttons-light-hover: #B3B3B3;

    /* -- dark mode -- */

    --color-background-dark: #CCCCCC;
    --color-background-display-dark: #8D8D8D;
    --color-display-digit-dark: #FFFFFF;

    --color-background-normal-buttons-dark: #8D8D8D;
    --color-background-special-buttons-dark: #5A5A5A;
    --color-normal-buttons-dark: #FFFFFF;
    --color-special-buttons-dark: #D9D9D9;

    --color-background-normal-buttons-dark-hover: #F2F2F2;
    --color-background-special-buttons-dark-hover: #D9D9D9;
    --color-normal-buttons-dark-hover: #8D8D8D;
    --color-special-buttons-dark-hover: #5A5A5A;
}

/* ------- LIGHT MODE -------- */

/* general style */

body {
    margin: 0px;
    background-color: var(--color-background-light);
}

#container {
    width: 80vw;
    height: 75vh;
    margin: 10vh 10vw 10vh 10vw;
    border-radius: 1vw;
    text-align: center;
    background-color: var(--color-background-light);
}

/* display style */

#display {
    width: 80vw;
    height: 15vh;
    background-color: var(--color-background-display-light);
    border: 2vh solid var(--color-background-display-light);
    border-radius: 1vh 1vh 0px 0px;
    text-align: end;
    padding: 0px;
    margin: 0px 0px 3.5vh 0px;
}

#display p#memory {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: var(--color-display-digit-light);
    font-size: 2.5vh;
    outline: none;
    padding: 0px;
    margin: 0;
}

#display p#current {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: var(--color-display-digit-light);
    font-size: 7.5vh;
    outline: none;
    padding: 0px;
    margin: 0;
}

/* keyboard style*/

#keyboard {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 2vh;
    margin: 1vh 0px 0px 4vh;
    background-color: var(--color-background-light);
}

/* buttons style */

button {
    height: 10vh;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 7vh;
    text-align: center;
    outline: none;
    user-select: none;
}

button.normal {
    color: white;
    background-color: var(--color-background-normal-buttons-light);
    transition: 300ms;
}

button.normal:hover {
    color: var(--color-normal-buttons-light-hover);
    background-color: var(--color-background-normal-buttons-light-hover);
}

button.special {
    color: var(--color-special-buttons-light);
    background-color: var(--color-background-special-buttons-light);
    transition: 400ms;
}

button.special:hover {
    background-color: var(--color-background-special-buttons-light-hover);
    color: var(--color-special-buttons-light-hover);
}

div#arrow {
    width: 2.5vh;
    height: 2.5vh;
}

#arrow {
    border: solid var(--color-special-buttons-light);
    border-width: 0 1vh 1vh 0;
    display: inline-block;
    padding: 0.5vh;
    transform: rotate(135deg);
}

button[value="back"]:hover > #arrow {
    border-color: var(--color-special-buttons-light-hover);
}

img {
    width: 7vh;
    height: 7vh;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

#img1 {
    display: inline-block;
}

#img2 {
    display: none;
}

/* footer style */

footer p {
    position: absolute;
    bottom: 1.4vh;
    right: 42.5vw;
    width: 15vw;
    margin: 0px;
    text-align: center;
    font-size: 1.3vw;
    font-family: 'Open Sans', sans-serif;
    user-select: none;
}

footer span {
    color: #EC5367;
    font-weight: bold;
    user-select: none;
}



/* ------- DARK MODE --------- */



/* general and keyboard style */

body.dark, #container.dark, #keyboard.dark {
    background-color: var(--color-background-dark);
}

/* display style */

#display.dark {
    background-color: var(--color-background-display-dark);
    border-color: var(--color-background-display-dark);
}

/* buttons style */

button.normal.dark {
    background-color: var(--color-background-normal-buttons-dark);
    color: var(--color-normal-buttons-dark);
    transition: 300ms;
}

button.normal.dark:hover {
    background-color: var(--color-background-normal-buttons-dark-hover);
    color: var(--color-normal-buttons-dark-hover);
}

button.special.dark {
    background-color: var(--color-background-special-buttons-dark);
    color: var(--color-special-buttons-dark);
    transition: 400ms;
}

button.special.dark:hover {
    background-color: var(--color-background-special-buttons-dark-hover);
    color: var(--color-special-buttons-dark-hover);
}

button.special.dark[value="back"]:hover > #arrow.dark {
    border-color: var(--color-special-buttons-dark-hover);
}

#img1.hidden {
    display: none;
}

#img2.visible {
    display: inline-block;
}

#arrow.dark {
    border-color: var(--color-special-buttons-dark);
}